/** ALINHAMENTO **/
.fl{
	float:left;
}

.fr{
	float:right;
}

.text-center{
	text-align:center;
}

.space1{
	margin-right:10px;
}

/** FORMATAÇÃO **/
.bold{
	font-weight:bold;	
}

.capitalized{
	text-transform:capitalize;
}

.uppercase{
	text-transform:uppercase;
}


body{
	font-family: arial;
}

.filtro-escola{
	background-color: #182933;
	color: #ffffff;
	height: 10%;
	margin: 0.5%;
	width: 97%;
	box-shadow: 0 2px 5px rgba(0,0,0,.45);
}

.filtro-escola .filtro-esquerda,.filtro-direita{
	margin-top: 2%;
}

.filtro-escola .filtro-esquerda{
	float: left;
	margin-left: 5%
}

.filtro-escola .filtro-direita{
	float: right;
	margin-right: 5%
}

.grafico-agentes-turma, .resultados-turmas{
	box-shadow: 0 2px 5px rgba(0,0,0,.15);
	float: left;
	margin: 0.5%;
}

.grafico-agentes-turma{
	height: 38%;
	width: 48%;
	transition: box-shadow .3s ease .3s
}

.grafico-agentes-turma:hover{
	box-shadow: 0 2px 13px rgba(0,0,0,0.5);
}
.agente-info{
	background-color: #F8F8F8;
	color: #182933;
	height: 5%;
	margin: 0.5%;
	margin-bottom: 1%;
	width: 97%;
	box-shadow: 0 2px 5px rgba(0,0,0,.15);
}

.agente-info ul{
	list-style: none;
	margin-right: 5%;
}
.agente-info ul li{
	float: right;
	color: #182933;
	margin-left: 2%;
}

.resultados-turmas{
	height: 88%;
	width: 97%;
}

select{
	background: #f0f0f0;
	color: #000000;
	opacity: .85;
}