@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  vertical-align: middle;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul,
nav li {
  margin: 0;
  padding: 0;
}
nav ul,
ul {
  list-style: none;
}
@font-face {
  font-family: 'Segoe';
  font-weight: normal;
  src: url('http://172.23.14.155/escola/assets/fonts/segoe/segoeui.ttf') format('truetype');
}
@font-face {
  font-family: 'Segoe SVG';
  font-weight: normal;
  src: url('http://172.23.14.155/escola/assets/fonts/segoe/segoeui.svg') format('svg');
}
@font-face {
  font-family: 'Segoe SVG';
  font-weight: bold;
  src: url('http://172.23.14.155/escola/assets/fonts/segoe/segoeui.svg#bold') format('svg');
}
@font-face {
  font-family: "PT Serif Caption";
  font-style: normal;
  font-weight: 400;
  src: local("Cambria"), local("PT Serif Caption"), local("PTSerif-Caption"), url(https://themes.googleusercontent.com/static/fonts/ptserifcaption/v4/7xkFOeTxxO1GMC1suOUYWWhBabBbEjGd1iRmpyoZukE.woff) format('woff');
}
@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: 300;
  src: local("Segoe UI Light"), local("Open Sans Light"), local("OpenSans-Light"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTZ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Segoe UI"), local("Open Sans"), local("OpenSans"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/K88pR3goAWT7BTt32Z01mz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Segoe UI Bold"), local("Open Sans Bold"), local("OpenSans-Bold"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzJ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}
.bold {
  font-weight: bold;
}
.button25 {
  background: url('http://172.23.14.155/escola/assets/img/sprite_buttons_25.png') no-repeat;
  display: block;
  height: 25px;
  width: 25px;
}
.btn4 {
  background: url('http://172.23.14.155/escola/assets/img/sprite_buttons_40.png') no-repeat;
  display: block;
  height: 40px;
  width: 40px;
}
.capitalized {
  text-transform: capitalize;
}
.clear {
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.inner {
  margin: 0 auto;
  max-width: 1200px;
}
.space1 {
  margin-right: 10px;
}
.text-center {
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}
body {
  color: #062b43;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 100%;
  width: 100%;
}
a {
  text-decoration: none;
  color: #062b43;
}
a:hover {
  text-decoration: none;
  color: #2093b5;
}
.clearfix {
  clear: both;
}
.flutua-esq {
  float: left;
}
.flutua-dir {
  float: right;
}
.sem-margem {
  margin-right: 0;
}
.interno {
  margin: 0 auto;
  position: relative;
  max-width: 1200px;
}
.container-login {
  display: block;
  width: 100%;
}
.barra-usuario {
  border-bottom: #2093b5 6px solid;
  font-size: 75%;
  height: 35px;
}
.conteudo {
  background-image: url('http://172.23.14.155/escola/assets/img/bg_support.jpeg');
  background-position: center 30%;
  background-size: cover;
  height: 45%;
  padding: 10% 0 2% 0;
  width: 100%;
}
.caixa-login {
  width: 525px;
}
.cabecalho-caixa {
  background-color: #182933;
  filter: alpha(opacity=90);
  height: 100px;
  opacity: 0.9;
}
.cabecalho-caixa img {
  float: right;
  margin: 5.8% 5% 0 0;
  width: 60%;
}
.conteudo-caixa {
  background-color: #226a82;
  filter: alpha(opacity=60);
  height: 175px;
  margin-top: 0.1%;
  opacity: 0.6;
}
.cc-esquerda {
  margin: 7.5% 3.2% 0 0;
  width: 12%;
}
.cc-esquerda img {
  width: 100%;
}

.cc-esquerda .login-fail{
  display: none;
}

.cc-esquerda .login-fail p{
  color: #fff;
  font-size: 70%;
  margin-top: 15%;
}

.cc-direita {
  margin: 7.5% 8% 0 0;
  width: 40%;
}
.cc-direita ::-webkit-input-placeholder {
  color: #fff;
}
.cc-direita input {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 17%;
}
.cc-direita input.text {
  background-color: rgba(0,0,0,0.1);
  border: 1px solid #fff;
  color: #fff;
  filter: alpha(opacity=100);
  height: 17%;
  margin: 0 0 2% 0;
  padding-right: 10px;
  text-align: right;
  width: 100%;
}
.cc-direita input.error {
  background-color: rgba(0,0,0,0.1);
  border: 1px solid #d10126;
  color: #fff;
  filter: alpha(opacity=100);
  height: 17%;
  margin: 0 0 2% 0;
  padding-right: 10px;
  text-align: right;
  width: 100%;
}
.cc-direita input.submit {
  border: none;
  background-color: #00121D;
  color: #fff;
  filter: alpha(opacity=90);
  margin-top: 2%;
  padding-right: 10px;
  text-align: right;
  width: 100%;
}
.rodape {
  font-size: 0.7em;
  margin: 30px auto 0 auto;
  width: 100%;
}
.rodape .interno {
  width: 71%;
}
a.close-modal {
  position: absolute;
  top: -12.5px;
  right: -12.5px;
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background: url('http://172.23.14.155/escola/assets/img/close.png') no-repeat 0 0;
}
.modal {
  background: #fff;
  display: none;
  height: 400px;
  width: 600px;
}